<div class="card bg-dark m-3 text-white">

  <h2 class="pl-2 mb-4">Login</h2>

  <form class="login-form">
    <div class="form-group pl-2 pr-2 mb-4">
      <label for="email-login">email:</label>
      <input class="form-control" type="text" id="email-login" />
    </div>
    <div class="form-group pl-2 pr-2">
      <label for="password-login">password:</label>
      <input class="form-control mb-4" type="password" id="password-login" />
    </div>
    <div class="form-group pl-2">
      <button class="btn btn-light mr-3" type="submit">Login</button>
      <a href="/signup" class="btn btn-light signup">Sign Up</a>
    </div>
  </form>

</div>

<script src="/js/login.js"></script>