<div class="card bg-dark m-3 text-white">
    <h2 class="pl-2 mb-4">Create New Entry</h2>

    <form class="new-post-form">
        <div class="form-group  pl-2 pr-2 mb-4">
            <label for="blog-title">Title:</label>
            <input type="text" class="form-control" id="blog-title" type="text">
        </div>
        <div class="form-group  pl-2 pr-2 mb-4">
            <label for="blog-content">Content: </label>
            <textarea class="form-control" id="blog-content" type="text"></textarea>
        </div>
        <button type="submit" class="btn btn-light ml-2 mb-2">Create!</button>

    </form>
</div>
{{!-- create post js will go here --}}
<script src="/js/createPost.js"></script>