<div class="card bg-dark m-3 text-white">
    <h2 class="pl-2 mb-4">Sign Up</h2>
    <form class="signup-form">
        <div class="form-group pl-2 pr-2 mb-4">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group pl-2 pr-2 mb-4">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter your email">
        </div>
        <div class="form-group pl-2 pr-2 mb-4">
            <label for="password">Password: </label>
            <input type="password" class="form-control" id="password" placeholder="Choose a password">
        </div>

        <button type="submit" class="btn btn-light ml-2 mb-2 signup">Submit</button>
    </form>
</div>
{{!-- sign up js will go here --}}
<script src="/js/signup.js"></script>